# swayshot
#
# Print screen helper for sway: add keyboard shortcuts for screenshots:
# * Print Scr for whole screen
# * Alt + Print Scr for a focused window
# * Shift + Print Scr for a selected region
#
# Save screenshots to $SCREENSHOTS folder.
# The default value is XDG_PICTURES_DIR, see
# https://wiki.archlinux.org/index.php/XDG_user_directories 

bindsym Print exec swayshot
bindsym Mod1+Print exec swayshot window
bindsym Shift+Print exec swayshot region
