# swaygrab-helper
#
# Print screen helper for sway: add keyboard shortcuts for screenshots:
# * Print Scr for whole screen
# * Alt + Print Scr for a focused window
#
# Save screenshots to $SCREENSHOTS folder.
# The default value is XDG_PICTURES_DIR, see
# https://wiki.archlinux.org/index.php/XDG_user_directories 

bindsym Print exec swaygrab-helper
bindsym Mod1+Print exec swaygrab-helper --focused
